/* Coolors Exported Palette - https://coolors.co/34f7dd-15c2ab-79ffed-1b9686-0db59f */

/* CSS HEX */
--turquoise-blue: #34f7ddff;
--keppel: #15c2abff;
--turquoise-blue-2: #79ffedff;
--paolo-veronese-green: #1b9686ff;
--keppel-2: #0db59fff;

/* CSS HSL */
--turquoise-blue: hsla(172, 92%, 59%, 1);
--keppel: hsla(172, 80%, 42%, 1);
--turquoise-blue-2: hsla(172, 100%, 74%, 1);
--paolo-veronese-green: hsla(172, 69%, 35%, 1);
--keppel-2: hsla(172, 87%, 38%, 1);

/* SCSS HEX */
$turquoise-blue: #34f7ddff;
$keppel: #15c2abff;
$turquoise-blue-2: #79ffedff;
$paolo-veronese-green: #1b9686ff;
$keppel-2: #0db59fff;

/* SCSS HSL */
$turquoise-blue: hsla(172, 92%, 59%, 1);
$keppel: hsla(172, 80%, 42%, 1);
$turquoise-blue-2: hsla(172, 100%, 74%, 1);
$paolo-veronese-green: hsla(172, 69%, 35%, 1);
$keppel-2: hsla(172, 87%, 38%, 1);

/* SCSS RGB */
$turquoise-blue: rgba(52, 247, 221, 1);
$keppel: rgba(21, 194, 171, 1);
$turquoise-blue-2: rgba(121, 255, 237, 1);
$paolo-veronese-green: rgba(27, 150, 134, 1);
$keppel-2: rgba(13, 181, 159, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #34f7ddff, #15c2abff, #79ffedff, #1b9686ff, #0db59fff);
$gradient-right: linear-gradient(90deg, #34f7ddff, #15c2abff, #79ffedff, #1b9686ff, #0db59fff);
$gradient-bottom: linear-gradient(180deg, #34f7ddff, #15c2abff, #79ffedff, #1b9686ff, #0db59fff);
$gradient-left: linear-gradient(270deg, #34f7ddff, #15c2abff, #79ffedff, #1b9686ff, #0db59fff);
$gradient-top-right: linear-gradient(45deg, #34f7ddff, #15c2abff, #79ffedff, #1b9686ff, #0db59fff);
$gradient-bottom-right: linear-gradient(135deg, #34f7ddff, #15c2abff, #79ffedff, #1b9686ff, #0db59fff);
$gradient-top-left: linear-gradient(225deg, #34f7ddff, #15c2abff, #79ffedff, #1b9686ff, #0db59fff);
$gradient-bottom-left: linear-gradient(315deg, #34f7ddff, #15c2abff, #79ffedff, #1b9686ff, #0db59fff);
$gradient-radial: radial-gradient(#34f7ddff, #15c2abff, #79ffedff, #1b9686ff, #0db59fff);